{%extends "base.html"%}

{%block title%}PII Scanner Home{%endblock%}

{%block head%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="jquery-3.5.1.min.js"></script>
{%endblock%}

{%block content%}
<h1 class="container p-3 mb-2"> Welcome,<br> What can we help you with today</h1>
        
<!--PII Inventory-->
<div class="container rounded bg-info p-3 mb-2">
    <div class="d-flex justify-content-between">
        <h2>PII Inventory</h2>
        <form>
            <button type="submit" class="btn btn-success btn-lg" formaction="{{ url_for('index')}}">Home</button>
            <button type="submit" class="btn btn-success btn-lg" formaction="{{ url_for('upload_file')}}">Scan</button>
            <button type="submit" class="btn btn-success btn-lg" formaction="{{ url_for('piiView')}}">View Reports</button>
        </form>            
    </div>
    <br>
    <div class="container bg-white p-3 mb-2">
        <ul>
            {%if len==0%}
                    <li>No reports yet, begin scanning your documents right now!</li>
            {%endif%}
            {%if len !=0%}
                {%for i in range (0, len)%}
                        <li>{{data[i]}}</li>
                {%endfor%}
            {%endif%}
        </ul>
    </div>
</div>   

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script>
    var iptEls = document.querySelectorAll('input');
        [].forEach.call(inps, function(iptEl) {
        iptEl.onchange = function(e) {
        console.log(this.files);
        };
    });
</script>   
{%endblock%}
